
/* ========================
  Home Slideshow
======================== */
.cycle-slideshow {
	.strip;
  margin-top: 59px;
	position: relative;
  height: 100vh;
  max-height: 300px;
  overflow: hidden;
  z-index: 1;

  @media @tablet {
    max-height: 100%;
    margin-top: 0;
  }

  .slide {
    height: 100%;
    width: 101%; // fix 1px edge on screen
    background-size: cover;
    background-position: 50% 50%;
    margin: 0 -1px; // fix 1px edge on screen
    overflow: hidden;
  }

  .cycle-prev, .cycle-next {
    position: absolute;
    top: 0px;
    width: 30%;
    z-index: 800;
    height: 100%;
    cursor: pointer;
  }

  .cycle-next {
    right: 0px;
  }
}

.main-container {
	margin-top: 2em;
  .not-front & {
    margin-top: 5em;

    @media @tablet {
      margin-top: 10em;
    }
  }
}

/* ========================
  Commercial Slideshows
======================== */
.field-slideshow-wrapper {
  position: relative;

  .field-slideshow {
    width: 100% !important;

    .field-slideshow-slide {
      width: 100% !important;

      img {
        width: 100% !important;
      }
    }
  }

  .prev, .next {
    position: absolute;
    top: 0px;
    width: 5%;
    z-index: 800;
    height: 100%;
    cursor: pointer;
    background: rgba(255,255,255,0.5);
    text-align: center;
    vertical-align: middle;
  }

  .next {
    right: 0px;
  }
}

/* ========================
  Intro Block
======================== */
#block-block-4 {
  padding: 2em 1em 3em;
  @media @normal {
    display: flex;
  }
  .block-title {
    font-size: @font-size-h4;
    line-height: 1.5em;
  }
  p {
    .text-justify;
  }
  @media @normal {
    .block-title {
      width: 35%;
    }
    p {
      width: 65%;
      padding-left: 2em;
    }
  }

}

/* ========================
	Staff Masonry Block
======================== */
.masonry-item {
	margin-bottom: 10px;
	cursor: pointer;

	&.faded {
		.opacity(.2);
	}

	&.Staff {
		width: 48%;
    @media @normal {
      width: 24%;
    }
	}

	&.Partner {
		width: 100%; 
    .img-responsive {
      width: 99%;
    }
		@media @tablet {
			width: 98.5%;
		}
    @media @normal {
      width: 49.5%;
    }
		.title {
			font-size: 2em;
		}
	}

	.title {
		transform: rotate(-90deg);
		position: absolute;
		left: 0;
		left: 30px;
		bottom: 0;
		font: 1.5em Times,serif;
		text-transform: uppercase;
		width: 14px;

		a {
			color: @body-bg;
		}
	}
}

.bio {
	display: none;
	color: @body-bg;
	background: url(../img/footer_bg.jpg) no-repeat 50% 0 / cover;
	opacity: 0;

	&.masonry-item {
		display: block;
		opacity: 1;

      /* bio arrows */
      &:before {
        content: "";
        border-top: 13px solid @wht;
        border-right: 13px solid transparent;
        border-left: 13px solid transparent; 
        position: absolute;
        left: 50%;
        top: -1px;
        margin-left: -12px;

        @media @normal {
          border-top: 13px solid transparent;
          border-bottom: 13px solid transparent;
          border-left: 13px solid @wht; 
          left: 0px;
          top: 50%;
          margin-top: -6px;
          margin-left: -1px;
        
          .Partner& {
            top: 25%;
            .Partner:nth-child(odd) + & {
              border-left: none;
              border-right: 13px solid @wht;
              left: auto;
              right: -1px;
              top: 25%;
            }
          }
        }
      }

		.shell {
			height: inherit;
			overflow: scroll;
			padding: 2em;
			position: relative;

   /*   @media @tablet {
        max-height: 224px;
      }
      @media @normal {
        max-height: 235px;
      } 
      @media @wide {
        .Staff& {
          max-height: 274px;
        }
        .Partner& {
          max-height: 100%;
        } 
      } */

			.guts {
				position:relative;

        a {
          font-size: 1.25em;
          font-family: @font-family-sans-serif;
          text-transform: uppercase;
          color: @wht;
          margin-bottom: .25em;
          display: inline-block;
          @media @tablet {
            font-size: 2em;
          }
        }
			}
		}
	}
}

/* ========================
  Commercial - Residential Menu
======================== */
.banner {
  margin-top: 3em;
  position: relative;

  .tel, .arch {
    position: absolute;
    left: -4.5em;
    top: 4.5em;
    .rotate(-90deg);
    font: normal .75em @font-family-sans-serif;
    color: @blue;
    letter-spacing: .33em;
    @media @tablet {
      font-size: 1.5em;
    }
  }  
  .arch {
    left: auto;
    top: auto;
    right: -3.25em;
    bottom: 3.5em;
    .rotate(90deg);
    border-top: 1px solid;
    font-size: .65em;
    padding-top: .25em;
    @media @tablet {
      font-size: 1em;
      right: -2.5em;
    }
  }
  .bkg {
    max-width: 90%;
    margin: 0 auto;
  }
  .nav {
    display: table;
    margin: 0 auto;
    width: 90%;

    .commercial, .residential {
      display: table-cell;
      font: normal 3.5vw @font-family-sans-serif;
      .text-uppercase;
      color: @blue;
      .text-center;
      margin: 18% 5% 0 10%;
      width: 44%;
      vertical-align: middle;
    }
    .residential {
      margin: 18% 5%;
    }
  }
}

/* ========================
  News
======================== */
#block-views-news-block {
  padding: 5em 0 3em;
  display: table;

  .views-row {
    display: block;
    padding: 1em;
    position: relative;

    @media @tablet {
      border-top: 1px solid @blue;
    }

    @media @normal {
      display: table-cell;
      width: 33%;
      border-left: 1px solid @blue;
      border-top: none;
      padding: 5em 3em 0;
    }

    .featured {
      font: 300 .65em @font-family-sans-serif;
      border-top: 1px solid;
      padding-top: 1em;
      width: 50%;
      display: block;
      text-align: right;
      margin-left: -25%;

      @media @tablet {
        border-top: none;
        padding-top: 0;
        width: auto;
        text-align: left;
        margin-left: 0;
      }

      @media @normal {
        .rotate(-90deg);
        position: absolute;
        top: 3.5em;
        left: -2.5em;
      }
    }

    .title {
      font: 300 24px/1.5 @font-family-sans-serif;
      .text-uppercase;
      @media @normal {
        font-size: 1.875vw;
        min-height: 125px;
      }
    }

    .news-body {
      display: none;
      @media @normal {
        display: block;
      }
    }

    .more a {
      background: @blue;
      padding: 1.5em 3em;
      color: @wht;
      margin: 2em 0 0;
      display: inline-block;
      font: 400 .75em @font-family-sans-serif;
      .text-uppercase;
    }

    .tags{
      .text-uppercase;
      font-size: 75%;

      .label {
        color: inherit;
        font-style: normal;
        font: normal 1em @font-family-sans-serif;
        padding-left: 0;
      }
    }

  }


}

/* ========================
	About Page
======================== */
.page-about {

  .page-header {
    margin: 0;
    width: 80%;
    line-height: 2;

    @media @tablet {
      margin: 30px auto;
    	width: 52%;
    }
    @media @normal {
    	width: 45%;
    }
    @media @wide {
    	width: 40%;
    }

    span {
      display: table;
      margin-bottom: 1em;

      @media @tablet {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  .region-content {
    border-top: 1px solid @blue;
    padding-top: 2em;
  }

  .block-system {
    margin-top: 30px;
  }
}

/* ========================
  Residential View
======================== */
.page-projects-residential {
  .container-fluid {
    padding: 0;
    overflow-x: hidden;
  }

  .view-projects.residential {
    .tags, .tease {
      display: none;
    }
    .views-row-odd, .views-row-even {
      padding: 2em 0;

      @media @tablet {
        .container {
          position: relative;
          .flexbox();
        }

        .tags {
          display: block;
          .order(2);
          .text-right;
          .text-uppercase;
          position: absolute;
          top: 0;
          right: 25%;
          font-size: 75%;
          span {
            font: normal 1em @font-family-sans-serif;
          }
          a {
            display: block;
            font-style: italic;
          }
        }
        .img {
          .order(1);
          width: 50%;
        }
        .tease {
          display: block;
          .order(4);
          font-size: smaller;
          line-height: 1.5;
          overflow: hidden;
          position: absolute;
          bottom: 0;
          right: 0;
          font-style: italic;
          padding: 0 0 0 2em;
        }
      }
      .head {
        background: url(../img/footer_bg.jpg) no-repeat 50% 0 / cover;
        color: @wht;
        padding: 2em;
        position: relative;
        .text-center;
        .text-uppercase;
        letter-spacing: 4px;

        @media @tablet {
          .order(2);
          overflow: hidden;
          display: block;
          position: absolute;
          bottom: 0;
          right: 25%;
        }
        &:before {
          content: "";
          border-top: 13px solid transparent;
          border-right: 13px solid @wht;
          border-bottom: 13px solid transparent; 
          position: absolute;
          right: 0;
          top: 50%;
          margin-top: -12px;
        }
        .title a {
          font: normal .75em @font-family-sans-serif;
          color: @wht;
          display: block;
          margin-bottom: 2em;
          letter-spacing: 2px;
          @media @tablet {
            font-size: .5em;
          }
          @media @normal {
            font-size: .75em;
          }
          @media @wide {
            font-size: 1em;
          }
        }
        .counter {
          font-size: 6em;
          letter-spacing: 0;
          line-height: 1.125em;
          margin-top: -10px;
          @media @tablet {
            font-size: 4.5em;
          }
          @media @normal {
            font-size: 6em;
          }
          @media @wide {
            font-size: 8em;
          }
        }
        .uno, .dos {
          font-size: 60%;
          @media @tablet {
            font-size: 39%;
          }
          @media @normal {
            font-size: 60%;
          }
          @media @wide {
            font-size: 70%;
          }
          span{
            &::before,
            &::after {
              content: "";
              display: inline-block;
              border-top: 1px solid @wht;
              width: 1em;
              margin: 3px 5px;
            }
          }
        }
        .dos span {
          &::before,
          &::after {
            width: 2em;
          }
        }
      }
    }
    .views-row-even {
      background-color: @f6;
      .head:before {
        border-right: 13px solid transparent;
        border-left: 13px solid @f6;
        right: auto;
        left: 0;
      }

      @media @tablet {
        .tease {
          .order(1);
          .align-self(flex-end);
          .flex-shrink(0);
          bottom: auto;
          right: auto;
          position: relative;
          padding: 0 2em 0 0;
        }
        .tags {
          .order(2);
          .align-self(flex-start);
          display: inline-table;
          top: auto;
          right: auto;
          position: relative;
          padding-right: 2em;
        }
        .head {
          .order(3);
          .align-self(flex-start);
          .flex-shrink(0);
          bottom: auto;
          right: auto;
          position: relative;
        }
        .img {
          .order(4);
          .align-self(flex-end);
          .flex-shrink(0);
          margin-left: 6px;
        }
      }
    }
  }
}



/* ========================
  Residential Detail
======================== */







