// Insert your styling here.
.jumbotron, 
.flexslider{
	.strip;
	position: relative;
}

.main-container {
	.not-front & {
	  margin-top: 98px;
  }
}

/* ========================
	Staff Masonry Block
======================== */
.masonry-item {
	margin-bottom: 10px;
	cursor: pointer;

	&.faded {
		opacity: .5;
	}

	&.Staff {
		width: 24%;

		@media @normal {
			width: 24%;
		}
	}
	&.Partner {
		width: 49%;

		@media @normal {
			width: 49%;
		}

		.title {
			font-size: 2em;
		}
	}
	.title {
		transform: rotate(-90deg);
		position: absolute;
		left: 0;
		left: 30px;
		bottom: 0;
		font: 1.5em Times,serif;
		text-transform: uppercase;
		width: 14px;

		a {
			color: @body-bg;
		}
	}
}

.bio {
	display: none;
	color: @body-bg;
	background: @gray-darker;
	max-height: 285px;
	opacity: 0;

	&.masonry-item {
		display: block;
		opacity: 1;

		.shell {
			height: inherit;
			overflow: scroll;
			padding: 1.5em;
			position: relative;

			&:before {
				content: "";
			  display: block;
			  width: 0; 
			  height: 0; 
			  border-top: 12px solid transparent;
			  border-bottom: 12px solid transparent;
			  border-left: 12px solid #fff; 
			  position: fixed;
				margin-left: -1.5em;
			}

			.guts {
				position:relative;
			}
		}
	}
}

/* ========================
	About Page
======================== */
.page-about .page-header {
  margin: 30px auto;
  width: 80%;
  line-height: 2;

  @media @tablet {
  	width: 52%;
  }
  @media @normal {
  	width: 45%;
  }
  @media @wide {
  	width: 40%;
  }

  span {
    position: absolute;
    top: 0;
    left: 15px;
  }
}