/* ========================
  Footer
======================== */
footer {
  padding-bottom: 2em;
  .footer {
    border-top: none;
    font-family: @font-family-sans-serif;
    margin: 2em auto 0;
    padding-top: 0;
    padding-bottom: 15px;
    @media @tablet {
      .inline-flexbox();
    }

    .body {
      background-color: @blue;
      color: @wht;
      padding: 2em 1em 1em;
      vertical-align: top;
      position: relative;

      @media @tablet {
        width: 50%;
        .order(2);
      }
      a {
        color: @wht;
      }
      .tel {
        clear: both;
        color: @gold;
        display: inline-block;
        font-size: 3.75vw;
        margin: 2em 0;
        text-align: right;
        width: 100%;
        @media @tablet {
          font-size: 20px;
          line-height: 28px;
        }
        @media @normal {
          font-size: 21px;
          line-height: 40px;
        }
        @media @wide {
          font-size: 28px;
          line-height: 50px;
        }
      }
      .addy {
        width: 80%;
        display: inline-block;
        font-size: 4vw;
        float: right;
        .text-right;
        .text-uppercase;
        letter-spacing: .25em;
        @media @tablet {
          font-size: 16px;
        }
        @media @normal {
          font-size: 21px;
        }
        @media @wide {
          font-size: 26px;
        }
      }
      .nav {
        bottom: 1em;
        right: 1em;
        width: 100%;
        .text-right;

        @media @tablet {
          position: absolute;
        }
        @media @tablet {
          right: 2em;
        }
        a {
          display: inline-block;
          width: 44%;
          .text-uppercase;
          .text-right;
          font-size: 2.25vw;
          span{
            font-family: @font-family-serif;
          }
          @media @tablet {
            font-size: 9px;
          }
          @media @normal {
            font-size: 12px;
          }
          @media @wide {
            font-size: 14px;
          }
        }
      }
    }

    .bkg {
      @media @tablet {
        .order(1);
        width: 50%;
      }
    }
  }

  .copyright .region-footer {
    display: inline-block;
  }
}