// Sometimes it does help to browse bike websites. Reference code found at airbornebicycles.com.
nav.sticky {
  background: url(../img/footer_bg.jpg) no-repeat 50% 0 / cover;
  bottom: 0;
  width: 100%;
  position: absolute;
  height: 118px;
  z-index: 999;

  .not-front.logged-in & {
    top: 23px;
  }

  &.fixed {
    .logged-in & {
      top: 23px;
    }
    bottom: auto;
    top: 0;
    position: fixed;
  }

  ul.links {
    position: relative;

    li {
      float: right;
      clear: both;
      margin-right: 2em;
      text-transform: uppercase;
      list-style: none;
      line-height: 2;

      a {
        color: @gold;
        padding: 5px 15px;
        transition: padding .2s ease;
        font-family: 'Adobe Caslon', Times, serif;

        &:hover, &:focus {
          background: none;
          color: @menu-link;
          padding-right: 30px;
        }
      }

      &.first {
        position: absolute;
        top: 0;
        left: 0;

        a {
          background: url(../s+n.svg) no-repeat;
          display: block;
          width: 100px;
          height: 80px;
          margin: 1.5em 0 0 4em;
          padding: 0;
          line-height: 500;
          overflow: hidden;
        }
      }

      &:nth-child(2){
        padding-top: 1em;
      }

      &.last{
        padding-bottom: 1em;
      }

    }
  }
}